*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#ffffff;
    color:#222;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}
header{
    width:100%;
    background:#fff;
    position:sticky;
    top:0;
    z-index:1000;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
}

.navbar{
    height:70px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:28px;
    font-weight:700;
}

.logo span{
    color:#14b8a6;
}

nav ul{
    display:flex;
    list-style:none;
    gap:35px;
}

nav a{
    text-decoration:none;
    color:#222;
    font-weight:500;
    transition:.3s;
}

nav a:hover{
    color:#14b8a6;
}

.btn{
    text-decoration:none;
    background:#14b8a6;
    color:#fff;
    padding:12px 25px;
    border-radius:8px;
    font-weight:500;
    transition:.3s;
}

.btn:hover{
    background:#0f9d90;
}
.hero{

     padding:40px 0 70px;

}

.hero-content{

    display:flex;

    align-items:center;

    justify-content:space-between;

    gap:60px;

}

.hero-text{

    flex:1;

}

.intro{

    color:#14b8a6;

    font-weight:600;

    letter-spacing:2px;

    margin-bottom:15px;

}

.hero-text h1{

    font-size:60px;

    margin-bottom:10px;

    color:#0f172a;

}

.hero-text h2{

    font-size:32px;

    font-weight:500;

    color:#334155;

    margin-bottom:20px;

}

.description{

    color:#64748b;

    line-height:1.8;

    max-width:550px;

    margin-bottom:30px;

}

.hero-buttons{

    display:flex;

    gap:20px;

}

.btn-outline{

    border:2px solid #14b8a6;

    color:#14b8a6;

    padding:12px 25px;

    border-radius:8px;

    text-decoration:none;

    transition:.3s;

}

.btn-outline:hover{

    background:#14b8a6;

    color:white;

}

.hero-image{

    flex:1;

    display:flex;

    justify-content:center;

}

.hero-image img{

    width:400px;

    max-width:100%;

    border-radius:20px;

}
.hero-image img{

    width:420px;

    border-radius:25px;

    box-shadow:0 20px 50px rgba(0,0,0,.15);

}